/* body margin for bootstrap nav */

body {
    margin-top: 80px;
}

/* extra 20px top padding */

h2, h3, h4 {
    padding-top: 20px;
}

h4.panel-title {
    padding-top: 0;
}

/* force the anchors to go to the right position - http://stackoverflow.com/questions/9047703/fixed-position-navbar-obscures-anchors */

h2[id], h3[id], h4[id] {
    padding-top: 100px; /* extra 20px top padding */
    margin-top: -60px;
}

/* fix navbar disappearing - http://stackoverflow.com/questions/14493533/really-weird-redraw-behavior-with-anchor-links-twitter-bootstrap-fixed-navbar */
.affix,.navbar-fixed-top{
    -webkit-transform: scale3d(1,1,1);
}

/* fancy footer */

#footer {
    border-top: 1px solid #ccc;
    background: #ddd;
    margin-top: 80px;
    padding: 0 0 20px 0;
}

/* project icons */

#project-icons {
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding: 20px 0;
}

/* put the margin-bottom on the caption instead of the thumbnail */

.thumbnail {
    margin-bottom: 0;
}

.caption {
    margin-bottom: 20px;
}

